.home{
    width: 100%;

    .resource_clicked{
        .btn_center{
            margin-left: -.1em;
            background-color: $accent_color;
            color: black;
        }
        span{
            margin-left: 1em;
            color: red;
            cursor: pointer;
            font-size: 1.4em;
        }
    }

    .mobile{
        display: none;
    }

    .window{
        display: block;
    }

    button{
        margin-left: 9em;
        margin-bottom: 2em;
        font-size: 1.2em;
        position: relative;
        padding-right: 1em;

        i{
            font-size: 1.4em;
            margin-left: .5em;
            position: absolute;
            top: .2em;
            animation: move_side .5s alternate ease infinite;
        }
    }
    
    
    .landing_page{
        margin-top: -1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 94vh;
        width: 100%;
        

        .landing_page_inner{
            width: 50%;
            margin: auto;
            // color: $accent_color; //for adding color to the handwriting
        }
        
    }

    .home_main{
        background-color: black;
        width: 100%;

        .home_main_inner{
            width: 90%;
            margin: -4.1em auto 0;

            .first_content{
                // background-color: cornflowerblue;
                margin-top:3.95em;
            }

        .home_content{
            color: white;
            min-height: 30em;
            border-bottom: .3em solid white;
            border-bottom-right-radius: 1em;
            border-bottom-left-radius: 1em;
            
            .title{
                font-size: 2em;
                
                color: $accent_color;
            }

            .home_content_inner{
                display: flex;
                width: 70%;
                margin : auto;

                img{
                    margin-top: 4em;
                }
                .left{
                    margin: 2em;
                    p{
                        font-size: 1.2em;
                        margin-bottom: .5em;
                    }
                }
                .right{
                    margin: 2em;
                }
            }
        }
        
        }
    }

    
}

@keyframes move_side{
    from{
        transform: translateX(2px);
    }

    to{
        transform: translateX(-1px);
    }
}

@media screen and (max-width:50em) {
    .home{
        
        .mobile{
            display: block;

            .resource_clicked{

                // .btn_first{ // for making the first btn of resourse center equal with the center btn   
                // }
            
                .btn_center{
                    margin-top: .5em !important;
                    margin-left: 1em !important;
                    background-color: $accent_color;
                    color: black;

                    // i{
                    //     top: 1em;
                    // }
                }
                span{
                    color: red;
                    cursor: pointer;
                    font-size: 1.6em;

                    i{
                        margin-top: .5em;
                        margin-left: 5em;
                    }
                }
            }
        }

        .window{
            display: none;
        }

        button{
            margin:2em 0 0 1em;

            i{
                margin-left: 1.5em;
            }
    
        }
        .landing_page{

            .landing_page_inner{
                width: 80%;
            }
        }

        .home_main{
            .home_main_inner{
                
                .first_content{
                    .title{
                        margin-top: 2em;
                    }
                }
                .home_content{
                    padding-bottom: 4em;

                    .home_content_inner{
                        display: block;
                        width: 100%;
                        margin: auto;

                        img{
                            margin-left: 1.8em;
                        }

                        .left{
                            margin: 0;
                            p{
                                font-size: 1.2em;
                            }
                        }
                        .right{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}